.navigation{
  background-color: #4a2545;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-toggler{
  margin-top: 20px;
}

.fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-nav{
  padding-left: -36rem;
  font-size: medium;
  padding-top: 1.5rem;
}

.navbar{
  padding-left: 4rem;
  padding: 1rem;
}

.navbar-brand{
  font-size: 30px;
}

#Sidebar{
  background-color: rgba(109, 126, 123, 0.473);
  width: 200px; 
  padding: 1rem; 
  list-style:none;
  }

.jumbotron{
  padding: 3rem;
  border-radius: 0;
  background-image: url(/images/lightback.jpg);
  background-color:white ;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
  margin-bottom: 0;
  height: 500px;
  margin-top: 5rem;
}

.heading{
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pb-2{
  font-style: oblique;
  font-weight: 800;
}

#ProfilePhoto{
  width: 60%;
  height: 80%;
  border-radius: 100%;
  border: 0 solid rgb(0, 0, 0); /*Set color of border around headshot to black*/
  margin-top: 25px;
  background: transparent; /*Remove headshot background color*/
  padding-left: 0%;
}

#Contents{
  padding: 1rem;
}

.about{
  margin-right: 20px;
}

.card{
  width: 8cm;
  margin: 1rem;
  border:0.2rem #9bb6a0;
  border-style: groove;
  background: none;
}

.listing{
  padding: 0; 
  list-style: none; /*Removes bullet points where unwanted*/
}

h3{
  font-style:italic;
  font-size: 20px;
  text-decoration-line: underline;
}

.about{
  margin-right: 20px;
}

#MyExpirience{
  background:none;
  margin-right: 0;
  padding-left: 1rem;
}

.carousel-inner{
  width: 100%;
  height: 100%;
  background-color: #afaa9e;
  padding: 1rem;
  margin-right: 5px;
}

@keyframes animationLogo {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); filter: sepia(70%); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.icons:hover{
  width: 200px;
  height: 200px;
  animation: shake 0.5s;
  animation-name: animationLogo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
/*Screen size for mobile device*/
@media screen and (max-width:767px) {
  body{
    height: auto;
    width: auto;
    font-size:small;
    display: block;
    margin:0;
    margin-bottom: -35px;
    background-color: beige;
    background-image: url(/images/annie-spratt-6a3nqQ1YwBw-unsplash.jpg);
    background-position: center;
    background-size: contain;
  }

  header{
    text-align: center;
    font-size: small;
    margin: auto;
    margin-bottom: 0%;
    height: auto;
    width: auto;
    background-color: #afaa9e;
    padding: 10px;
    padding-bottom: 15px;
  }

  .main{
    display: flex;
    flex-direction: row;
    overflow:unset; /*Content fits perfectly on specified area*/
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    background:none;
    padding: 0;
    font-size: small;
  }

  .mx-auto{
    width: 150px;
    height: 150px;
  }

  .carousel-inner{
    padding-bottom: 2rem;
  }
  footer{
    text-align: center;
    height: auto;
    width: auto;
    margin: 0;
    margin-bottom: 0;
    background-color: #4a2545;
  }

  .icons{
    width: 150px;
    height: 150px;
  }
}

/*Screen size for tablet*/
@media screen and (min-width:768px) {
  body{
    height: auto;
    width: auto;
    font-size: medium;
    display: block;
    margin: 0;
    margin-bottom: 0;
    background-image: url(/images/annie-spratt-6a3nqQ1YwBw-unsplash.jpg);
    background-position: center;
    background-size: contain;
   }

   header{height: auto;
    width: auto;
    font-size: medium;
    display: block;
    margin: auto;
    background-color: #afaa9e;
    padding:1rem;
    padding-bottom: 2rem;
  }

  .main{
    display: auto;
    flex-direction: row;
    overflow: unset; /*Content fits perfectly on specified area*/
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    background:none;
    padding: 0;
    font-size: medium;
  }

  footer{
    height: auto;
    width: auto;
    font-size: medium;
    display: block;
    margin: auto;
    background-color: #4a2545;
    padding: 15px;
    text-align: center;
  }
  
}

/*Screen size for laptop/computer*/
@media  screen and (min-width:991px) {
  body{
    font-family: sans-serif;
    font-size:110%;
    background-color: beige;
    background-image: url(/images/annie-spratt-6a3nqQ1YwBw-unsplash.jpg);
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  header{
    text-align:start;
    background-color: #afaa9e;
    justify-content: center; /*Move the text to middle of the page*/
    font-size: 25px;
    margin-top: 0;
    margin: 0;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 25px;
    padding: 15px; 
    padding-top: 18px;
  }

  .main{
    display: flex;
    flex-direction: row;
    overflow:unset; /*Content fits perfectly on specified area*/
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    background:none;
    padding: 0;
  }

  footer{
    background-color: #4a2545;
    text-align: center;
    margin: 15px;
    margin-top: 0;
  }
}