#body{
  font-family: sans-serif;
  font-size:110%;
  background-color: beige;
  display: flex;
  flex-direction: column;
  border: 15px solid;
  border-color: rgba(0, 0, 0, 0.979); /*Set the color of border around the body to black*/
  margin:0;
  padding: 0;
}

.navigation{
  background-color: #4a2545;
  height: 100px;
  position: fixed;
  top: 0.91rem;
  right: 0.91rem;
  left: 0.91rem;
  z-index: 1030;
}

.fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-nav{
  padding-left: -36rem;
  font-size: medium;
  padding-top: 1.5rem;
}

.navbar{
  padding-left: 4rem;
  padding: 1rem;
}

.navbar-brand{
  font-size: 30px;
}

#sidebar {
  background-color: rgba(109, 126, 123, 0.473);
  width: 200px; 
  padding: 1rem; 
  list-style:none;
  }

.jumbotron {
  padding: 3rem;
  border-radius: 0;
  background-image: url(/images/lightback.jpg);
  background-color:white ;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
  margin-bottom: 0;
  height: 500px;
  margin-top: 5rem;
}

.heading{
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pb-2{
  font-style: oblique;
  font-weight: 800;
}

header{
  color: black; /*Set text color to white*/
  background-color: #dccca3;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center; /*Move the text to middle of the page*/
  font-size: 25px;
  padding-top: 15px;
}

#profilePhoto{
  width: 60%;
  height: 80%;
  border-radius: 100%;
  border: 0 solid rgb(0, 0, 0); /*Set color of border around headshot to black*/
  margin-top: 25px;
  background: transparent; /*Remove headshot background color*/
  padding-left: 0%;
  filter: grayscale(100);
}

.main{
  display: flex;
  flex-direction: row;
  overflow:unset; /*Content fits perfectly on specified area*/
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: beige;
  padding: 0;
}

#contents {padding: 1rem;
}

.about{
  margin-right: 20px;
}

.card{
  width: 8cm;
  margin: 1rem;
  border:0.2rem #9bb6a0;
  border-style: groove;
  background: none;
}

.listing{
  padding: 0; 
  list-style: none; /*Removes bullet points where unwanted*/
}

h3{
  font-style: italic;
}

.about{
  margin-right: 20px;
}

#myExpirience{
  background:none;
  margin-right: 0;
  padding-left: 1rem;
}

.carousel-inner{
  width: 100%;
  height: 100%;
  background-color: #dccca3;
  padding: 1rem;
  margin-right: 5px;
}

footer{
  background-color: #4a2545;
  text-align: center;
  margin: 15px;
  margin-top: 0;
}

@keyframes animationLogo {
  0% {transform: translatex(50px);}
  25% {transform:rotate(360deg);}
  100% {filter: sepia(60%);}
  }
  
  .icons:hover{
  width: 200px;
  height: 200px;
  animation-name: animationLogo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  }



@media screen and (max-width:767px) {
  body{
    height: auto;
    width: auto;
    font-size:small;
    display: block;
    margin: auto;
  }

  header{
    text-align: center;
    font-size: small;
    margin: auto;
    margin-bottom: 0%;
    height: auto;
    width: auto;
    background-color:#dccca3;
  }

  footer{
    text-align: center;
    height: auto;
    width: auto;
    margin: auto;
    margin-bottom: 0%;
  }

  .main{
    font-size: small;
  }
}

@media screen and (min-width:768px) {
  body{
    height: auto;
    width: auto;
    font-size: medium;
    display: block;
    margin: auto;
   }

   header{height: auto;
    width: auto;
    font-size: medium;
    display: block;
    margin: auto;
    background-color: #dccca3;
    padding-bottom: 300px;
     
  }

  footer{
    height: auto;
    width: auto;
    font-size: medium;
    display: block;
    margin: auto;
  }
  .main{
    font-size: medium;
  } 
}

@media  screen and (min-width:991px) {
  body{
    font-family: sans-serif;
    font-size:110%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    border: 15px solid;
    border-color: rgba(0, 0, 0, 0.979); /*Set the color of border around the body to black*/
    margin: 15px;
    padding: 0;
  }

  header{
    text-align: center;
    color: black; /*Set text color to white*/
    background-color: #dccca3;
    justify-content: center; /*Move the text to middle of the page*/
    font-size: 25px;
    margin-top: 0;
    height: 300px;
    padding-top:70px;
    color: black; /*Set text color to white*/
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center; /*Move the text to middle of the page*/
    font-size: 25px;
    padding-top: 36px; 
  }

  footer{
    background-color: #4a2545;
    text-align: center;
    margin: 15px;
    margin-top: 0;
  }
}